$color-h1: rgb(156, 94, 94);
$color-h2: rgb(212, 106, 106);
$color-p: rgb(243, 149, 8);
$border-bot: solid black 1px;
$container-width: 90%;
$container-margin: 0 auto;
$tcolor1: rgb(0, 255, 13);
$tcolor2: rgb(255, 0, 0);
$tcolor3: rgb(255, 0, 212);
$tcolor4: rgb(0, 204, 255);
$tcolor5: rgb(238, 255, 0);
$tcolor6: rgb(83, 90, 83);
$tcolor7: rgb(255, 174, 0);
$ttablet: 576px;
$tpc: 992px;
$bordemenu: 1px solid red;
$menufondo: rgb(0, 0, 0);
$menucolor: rgb(255, 255, 255);