table{
    border: 1px solid black;
    width: 31%
}

tbody tr:nth-child(1),tbody tr:nth-child(6),tbody tr:nth-child(10){
    color:brown;
    letter-spacing: 4px;
}

tr td {
    padding-left: 5px;
}



.primertit{
    padding-top: 60px;
}

.segundotit{
    padding-top: 30px;
}


tbody tr:nth-child(7),tbody tr:nth-child(11){
    vertical-align: top;
}

thead {
    background-color: gray;
    color: blue;
    font-size: 150%
}